:root{
    --green: #009688;
    --grey: #D9DBD4;
    --grey-user: #EAEAEA;
    --azzurro: #8EDAFC;
}

/*? GENERICS */
body{
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(180deg, var(--green) 15%, var(--grey) 15%);
}

/* QUADRATO GRANDE */
.board{
    margin: 30px auto;
    max-width: 100%;
    height: 95vh;
    background-color: #fff;
}

/*! PARTE SINISTRA */
.user{
    background-color: var(--grey-user);
    height: 8vh;
}

.user .profile{
    height: 100%;
}

#notifications{
    background-color: var(--azzurro);
    height: 8vh;
}

#notifications .label-bell{
    height: 100%;
    background-color: #F2FBFF;
}

#notifications .label-bell .fa-bell-slash{
    color: var(--azzurro);
    line-height: 38px;
}

#search{
    background-color: var(--grey-user);
    height: 5vh; 
}

#chat{
    overflow-y: scroll;
    height: 74vh;
}

#chat li{
    height: 8vh;
    cursor: pointer;
}

#chat li.contact-active{
    background-color: var(--grey-user);
}

/*! PARTE DESTRA */
.bg-chat{
    height: 79vh;
    background-image: url(../img/mine.jpg);
    background-size: contain;
    overflow-y: scroll;
}


/* PARTE CHAT */
.message-container{
    display: flex;
}

.message-container.sent{
    justify-content: flex-end;
}

.message-container.received{
    justify-content: flex-start;
}

.message-container.sent .message{
    background-color: #d5f9ba;
}

.message-container.received .message{
    background-color: #fff;
}

.message-container .message p{
    margin-bottom: 0;
}

.message-container .message time{
    display: block;
    text-align: right;
    font-size: 11px;
    color: #aaa;
}

